.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 66px;
  border-bottom: 1px solid #282828;
  min-width: 700px;
  width: 100%;
}

.nav-left-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #282828;
  font-size: 20px;
  flex-grow: 1;
  padding-left: 1.2rem;
}

.header-link:nth-child(2n) {
  margin-left: 1.2rem;
}

.header-link {
  text-decoration: none;
  color: inherit;
}

.search-bar {
  align-self: center;
}

.search-bar i {
  margin-left: 0.1rem;
  vertical-align: bottom;
  font-size: 20px;
}

.header-link:hover, .search-bar:hover {
  color: #009e74;
  cursor: pointer;
}

.nav-right-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #282828;
  font-size: 20px;
  flex-grow: 1;
  padding-right: 1.2rem;
}

.header-user-menu {
  margin-left: 1.2rem;
}

.header-user-menu i {
  vertical-align: bottom;
  font-size: 40px;
  color: #009e74;
  cursor: pointer;
}

.header-user-menu:focus {
  outline-offset: 2px;
  outline: 1px solid #009e74;
}
