.nav-container {
  font-family: Yantramanav, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  border-bottom: 1px solid #282828;
}

.nav-left-container {
  color: #282828;
  font-size: 20px;
  flex-grow: 1;
  padding-left: 1.2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.logo {
  font-family: Sniglet, fantasy;
  font-size: 24px;
  text-decoration: none;
  color: #003366;
}

.nav-right-container {
  color: #282828;
  font-size: 20px;
  flex-grow: 1;
  text-align: right;
  padding-right: 1.2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
