.project-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  min-width: 1000px;
}

.project-form-box {
  width: 1000px;
}

.project-form-title {
  text-transform: capitalize;
  font-size: 28px;
  margin-top: 20px;
}

.project-form-navbar {
  padding: 24px;
  font-size: 20px;
}

.project-form-navbar a {
  padding: 10px;
  border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
  border-left: 1px solid #282828;
  color: #282828;
  background-color: white;
}

.project-form-navbar a:last-of-type {
  border-right: 1px solid #282828;
}

.project-form-navbar .active {
  color: #009e74;
  background-color: #f0f0f0;
}

.project-form-navbar a:focus {
  outline: 1px dotted #009e74;
}

.project-child-container {
  width: 1000px;
  margin-bottom: 40px;
}

.project-child-header {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.project-child-greeting {
  font-size: 42px;
  margin-bottom: 14px;
}

.project-child-description {
  font-size: 20px;
}

.project-child-form {
  display: flex;
  flex-direction: column;
  background: white;
}

.project-child-form label:first-of-type {
  margin-top: 24px;
}

.project-child-form label:last-of-type {
  margin-bottom: 24px;
}

.project-child-form label {
  display: flex;
  padding: 12px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: rgba(152,251,152,0.1);
}

.project-child-form label span {
  width: 250px;
  display: inline-block;
  font-size: 18px;
}

.project-child-form label div {
  width: 550px;
  display: flex;
  flex-direction: column;
}

.project-title div input {
  height: 24px
}

.project-blurb div textarea {
  height: 60px;
  font-size: 16px;
  border: 1px solid #dddded;
}

.project-blurb div textarea:focus {
  outline: 1px solid #009e74;
}

.project-child-form label div input {
  flex-grow: 1;
  font-size: 16px;
  border: 1px solid #dddded;
  padding: 5px;
}

.project-child-form label div input:focus {
  outline: 1px solid #009e74;
}

.project-child-form label div p {
  font-size: 14px;
}

.project-child-form select {
  width: 550px;
  height: 24px;
}

.project-image-widget button {
  height: 24px;
  font-size: 16px;
  border: 1px solid #dddedd;
}

.project-image-widget button:focus {
  outline: 1px solid #009e74;
}

.image-filename {
  text-align: center;
  color: #009e74;
  margin-bottom: 3px;
}

.project-category-dropdown {
  font-size: 16px;
  background-color: white;
  border: 1px solid #dddedd;
  border-radius: 0px;
}

.project-category-dropdown:focus {
  outline: 1px solid #009e74;
}

.project-goal input {
  text-align: right;
}

.project-submit-buttons {
  display: flex;
  justify-content: space-around;
}

.project-submit-buttons i {
  vertical-align: bottom;
  font-size: 20px;
  margin-right: 0.1rem;
}

.save-details {
  padding: 10px;
  font-size: 20px;
  color: #282828;
  background-color: white;
  border: 1px solid #dcdeed;
  font-weight: 300;
}

.save-details:hover {
  background-color: white;
  cursor: pointer;
  border: 1px solid #282828;
  box-shadow: 1px 1px #282828;
}

.publish {
  padding: 10px;
  font-size: 20px;
  color: white;
  background-color: #009e74;
  font-weight: 300;
}

.publish:hover {
  background-color: #037362;
  cursor: pointer;
}

.delete-button {
  padding: 10px;
  font-size: 20px;
  color: rgba(255, 69, 0, 0.3);
  background-color: #dcdeed;
  font-weight: 400;
  border: 1px solid #f0f0f0;
}

.delete-button:hover {
  background-color: black;
  color: rgb(255,69,0);
  border: 1px solid rgb(255,69,0);
  cursor: pointer;
  box-shadow: 1px 1px rgb(255,69,0);
}

.project-errors {
  text-align: center;
}
