.project-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}

.project-show-header {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  height: 300px;
  width: 100%;
  padding-bottom: 2rem;
}

.project-show-user {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding-left: 3rem;
  padding-top: 3rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.project-show-user i {
  font-size: 48px;
  padding-bottom: 16px;
}

.project-show-user p {
  font-size: 18px
}

.project-show-intro {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 3rem 3rem 0rem 3rem;
}

.project-show-title {
  font-size: 52px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding-bottom: 16px;
}

.project-show-blurb {
  font-size: 28px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.project-show-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.project-show-info img {
  min-width: 400px;
  min-height: 400px;
}

.project-show-aside {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
}

.project-aside-status {
  width: 100%;
  background-color: #dcdeed;
  margin-bottom: 12px;
}

.project-bar-percent {
  background-color: #009e74;
  height: 3px;
  border-radius: 3px;
}

.project-aside-subtitle {
  font-size: 28px;
  color: #009e74;
}

.project-aside-detail {
  font-size: 18px;
  color: #656969;
  opacity: 0.7;
}

.project-aside-category {
  font-size: 28px;
  color: #282828;
  padding: 24px 0px;
  text-align: center;
}

.project-show-story {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
