.project-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  margin-bottom: 40px;
}

.private-message {
  font-size: 20px;
  text-align: center;
  margin-top: 1rem;
  color: #037362;
}

.project-show-header {
  display: flex;
  justify-content: space-between;
  width: inherit;
  flex-grow: 1;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 2rem;
  border-bottom: 1px solid #dcdeed;
}

.project-show-user {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding-left: 3rem;
  padding-top: 3rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.project-show-user i {
  font-size: 48px;
  padding-bottom: 16px;
}

.project-show-user p {
  font-size: 18px
}

.project-show-intro {
  display: flex;
  min-width: 400px;
  flex-grow: 1;
  flex-direction: column;
  padding: 3rem 3rem 0rem 3rem;
}

.project-show-title {
  font-size: 52px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding-bottom: 16px;
}

.project-show-blurb {
  font-size: 28px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.project-show-info {
  display: flex;
  width: 100%;
  min-height: 400px;
  justify-content: space-between;
  margin-bottom: 32px;
}

.project-show-image {
  min-width: 500px;
  max-height: 550px;
}

.project-show-aside {
  display: flex;
  flex-direction: column;
  min-width: 236px;
  flex-grow: 1;
  padding: 32px;
  justify-content: space-between;
}

.project-aside-status {
  width: 100%;
  background-color: #dcdeed;
  margin-bottom: 12px;
}

.project-bar-percent {
  background-color: #009e74;
  height: 3px;
  border-radius: 3px;
}

.project-aside-subtitle {
  font-size: 28px;
  color: #009e74;
}

.project-aside-detail {
  font-size: 18px;
  color: #656969;
  opacity: 0.7;
}

.project-aside-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-button {
  background-color: #009e74;
  color: white;
  font-weight: 300;
  padding: 15px 0px;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.edit-button:hover {
  background-color: #037362;
}

.project-aside-category {
  font-size: 22px;
  color: #282828;
  padding-top: 24px;
  text-align: center;
}

.project-show-body {
  border-top: 1px solid #dcdedd;
  padding: 24px 0;
  width: 100%;
  display: flex;
  min-height: 300px;
}

.project-show-story {
  flex-grow: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.project-backing-options {
  width: 300px;
  border: 1px solid black;
}
